<!DOCTYPE html>
<html>
  <head>
    <title>Planter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Planter", root_path %></h1>
      <nav>
        <ul>
          <li><%= link_to "People", people_path %></li>
          <li><%= link_to "Plants", plants_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
